body {
    margin: 0;
    width: 100%;
}

@keyframes shiffer {
    0%      {top: -7.5px; left: -7.5px;}
    33%     {top: -7.5px; left: 7.5px;}
    66%     {top: 7.5px; left: 0;}
    100%    {top: -7.5px; left: -7.5px;}
}

.cappie {
    position: relative;
    animation: shiffer 5s infinite;
    width: 80%;
    margin-left: calc(10% + 7.5px);
}

@keyframes brows {
    0%      {top: 110px}
    50%     {top: 95px;}
    100%    {top: 110px;}
}

.cappie .cappie__eyebrows {
    background-image: url('../img/CappieEyebrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    position: absolute;
    width: 65%;
    padding-top: 22.5%;
    left: 20%;
    margin-top: -10%;

    animation: brows 4s infinite;
}

.cappie .cappie__eyebrows.cappie__eyebrows--fast {
    animation: brows .5s infinite;
}

.cappie .cappie__main {
    width: 100%;
    padding-top: 105%;
    background-image: url('../img/CappieMain.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}